@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%; /* #F0F8FF */
    --foreground: 215 30% 30%;
    --card: 0 0% 100%;
    --card-foreground: 215 30% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 30% 30%;
    --primary: 205 68% 78%; /* #A0D2EB */
    --primary-foreground: 215 30% 20%;
    --secondary: 205 60% 92%;
    --secondary-foreground: 205 30% 35%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 15% 55%;
    --accent: 28 100% 86%; /* #FFDAB9 */
    --accent-foreground: 25 50% 30%;
    --destructive: 0 80% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 30% 88%;
    --input: 210 30% 92%;
    --ring: 205 68% 78%;
    --radius: 0.8rem;

    --font-body: 'Alegreya';
    --font-headline: 'Belleza';

    --font-size-headline-scale: 1;
    --font-size-body-scale: 1;
  }
  .dark {
    --background: 215 30% 12%;
    --foreground: 210 40% 98%;
    --card: 215 30% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 30% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 205 68% 75%;
    --primary-foreground: 215 20% 15%;
    --secondary: 215 30% 25%;
    --secondary-foreground: 210 40% 90%;
    --muted: 215 30% 20%;
    --muted-foreground: 215 15% 65%;
    --accent: 28 80% 70%;
    --accent-foreground: 25 90% 90%;
    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 30% 25%;
    --input: 215 30% 25%;
    --ring: 205 68% 75%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body), serif;
  }

  /* Overriding Tailwind's font sizes to make them dynamic */
  .text-xs { font-size: calc(0.75rem * var(--font-size-body-scale)); line-height: calc(1rem * var(--font-size-body-scale)); }
  .text-sm { font-size: calc(0.875rem * var(--font-size-body-scale)); line-height: calc(1.25rem * var(--font-size-body-scale)); }
  .text-base { font-size: calc(1rem * var(--font-size-body-scale)); line-height: calc(1.5rem * var(--font-size-body-scale)); }
  .text-lg { font-size: calc(1.125rem * var(--font-size-headline-scale)); line-height: calc(1.75rem * var(--font-size-headline-scale)); }
  .text-xl { font-size: calc(1.25rem * var(--font-size-headline-scale)); line-height: calc(1.75rem * var(--font-size-headline-scale)); }
  .text-2xl { font-size: calc(1.5rem * var(--font-size-headline-scale)); line-height: calc(2rem * var(--font-size-headline-scale)); }
  .text-3xl { font-size: calc(1.875rem * var(--font-size-headline-scale)); line-height: calc(2.25rem * var(--font-size-headline-scale)); }
  .text-4xl { font-size: calc(2.25rem * var(--font-size-headline-scale)); line-height: calc(2.5rem * var(--font-size-headline-scale)); }
}
